body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}

input, button {
    margin: 10px;
    padding: 10px;
}

#idadeInputs input {
    margin: 5px;
    padding: 5px;
}
